# This is a basic workflow to help you get started with Actions

name: Playlist-Archiver

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  schedule:
    - cron: "43 1 * * *" #runs at 01:43 UTC everyday

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Choose desired python version
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.10.5 #install the python needed
      
      # Install requirements
      - name: Install requirements
        run: |
          python -m pip install -U pip
          pip install -r requirements.txt
          
      # Run main.py
      - name: Run main.py
        run: python -m src.main
          
      - name: Commit and push if it changed 
        run: |
          git config user.name "Github Actions"
          git config user.email "actions@users.noreply.github.com"
          git add -A
          timestamp=$(date --utc)
          git commit -m "Automated routine: ${timestamp}" || exit 0
          git push
